.bg-info {
    background-color: #0e7ad4 !important;
}

.btn-info {
    background-color: #0e7ad4 !important;
    border-color: #0e7ad4 !important;
}

.border-primary {
    border-color: #0e7ad4 !important;
}

.fa-envelope:before {
    display:none;
}

.fa-user:before {
    display:none;
}

.body {
    font-family: Source Sans Pro;
}